<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>
	<h1>Login</h1>
	<form>
		<label>Username:<input type="text" name="username" required placeholder="username"></label>
		</br>
		<label>Password:<input id="password" type="password" placeholder="password"></label>
	</form>
</body>
</html>