<% include ../../partials/header %>
<% include ../../partials/navbar %>

  <div class="container">
    <% if(error_message) { %>
      <div class="alert alert-danger" role="alert">
        <%= error_message %>
      </div>
    <% } %>
    <h1>Change password for <%= username %></h1>
    <form onsubmit="return checkPassword()" action="/user/update_password" method="post">
      <div class="form-group row">
        <h2>Old Password: <input class="form-control" type="password" name="old_password" id = "old_password" required></h2>
      </div>
      <div class="form-group row">
        <h2>New Password: <input class="form-control" type="password" name="password" id = "password" required></h2>
      </div>
      <div class="form-group row">
        <h2>Confirm Password: <input class="form-control" type="password" name="confirm_password" id = "confirm_password" required></h2>
      </div>
      <input type="hidden" name="username" value="<%= username %>">
      </br>
      <div class="form-group">
          <input class="btn btn-lg btn-primary" type="submit" value="Update Record">
      </div>
    </form>
  </div>
<script type="text/javascript">
    function checkPassword() {
      var password1 = document.getElementById("password").value, password2 = document.getElementById("confirm_password").value;
      if (password1 != password2) {
        alert("Passwords Don't Match");
        return false;
      }
      // If same return True.
      else{
          return true;
      }
    }
</script>
</body>
</html>
