<% include ../../../partials/header %>
<% include ../../../partials/navbar %>
<div class="container">
  <div style="width: 50%">
    <form action="/database/examiner/new" method="GET">
      <h1>Examiners<input class="btn btn-md btn-default" type="submit" value="New Record" style="float: right"></h1>
    </form>
    </br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Course code</th>
          <th scope="col">Initial</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% examiners.forEach(function (examiner){ %>
          <tr>
            <td><%= examiner.course_code %></td>
            <td><%= examiner.initial %></td>
            <td>
              <form method="POST" action="/database/examiner/delete">
                <input type="hidden" name="course_code" value="<%= examiner.course_code %>">
                <input type="hidden" name="initial" value="<%= examiner.initial %>">
                <input class="btn btn-sm btn-danger" type="submit" value="Delete">
              </form>
            </td>

          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
